@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{ 
    --preto: #000000ff;
    --azul-forte: #14213dff;
    --laranja: #fca311ff;
    --prata: #e5e5e5ff;
    --branco: #ffffffff;
    --fonte-titulo: "Playfair Display", serif;
    --fonte-texto: "Chakra Petch", serif;
}

body{
    background-color: var(--prata);
    font-family: var(--fonte-texto);
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azul-forte);
}

.cabecalho-logo{
    width: 10%;
    border-radius: 100%;
    padding: 1em;
}

.cabecalho-link{
    text-decoration: none;
    color: var(--laranja);
    font-size: 1.5em;
    font-family: var(--fonte-titulo);
    margin-right: 1em;
}

.cabecalho-link:hover{
    color: var(--branco);
    font-size: 1.9em;
    transition: 0.5s;
}

.principal-capa{
    background-color: var(--prata);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5em;
}
.principal-capa_titulo{
    font-size: 4em;
    font-family: var(--fonte-titulo);
}
.principal-capa_texto{
    font-size: 2em;
}
.principal-capa_img{
    width: 30%;
    border-radius: 10px;
}

.principal-capa_combotao{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
}

.principal-capa_botao{
    background-color: var(--laranja);
    text-decoration: none;
    padding: 1.3em;
    color: var(--preto);
    margin-top: 2em;
    border-radius: 10px;
    font-size: 1.2em;
}